@attribute [Authorize]
@inherits AuthComponentBase

<div @ref="_card" class="device-card @GetCardStateClass()"
     @onclick="ExpandCard"
     @onclick:stopPropagation
     @oncontextmenu="ContextMenuOpening"
     @oncontextmenu:preventDefault="_state == DeviceCardState.Normal"
     @oncontextmenu:stopPropagation="_state == DeviceCardState.Normal">

    <div class="card-header" @onclick="HandleHeaderClick"
         @onclick:stopPropagation="_state == DeviceCardState.Expanded"
         @onclick:preventDefault="_state == DeviceCardState.Expanded">
        <div class="status-indicator">
            @if (Device.IsOnline)
            {
                if (IsOutdated)
                {
                    <span class="status-dot status-warning" title="Agent Outdated"></span>
                }
                else
                {
                    <span class="status-dot status-online" title="Online"></span>
                }
            }
            else
            {
                <span class="status-dot status-offline" title="Offline"></span>
            }
        </div>
        <div class="card-header-name">
            <div class="device-name">@Device.DeviceName</div>
            <div class="device-alias">@Device.Alias</div>
        </div>
        <div class="card-header-actions">
            @if (IsExpanded)
            {
                <button class="icon-btn" title="Open in New Tab"
                        @onclick:stopPropagation
                        @onclick="OpenDeviceDetails">
                    <i class="oi oi-external-link"></i>
                </button>
            }
            <input type="checkbox"
                   class="device-checkbox"
                   checked="@IsSelected"
                   @onchange="ToggleIsSelected"
                   @onclick:stopPropagation />
        </div>
    </div>

    <div class="card-body">
        @if (_fileUploadProgressLookup.Any())
        {
            foreach (var kvp in _fileUploadProgressLookup)
            {
                <div class="upload-alert">
                    @(GetProgressMessage(kvp.Key))
                </div>
            }
        }
        <div>
            <div class="prop-label text-info">
                <label>User</label>
            </div>
            <div class="prop-value">
                @Device.CurrentUser
            </div>

            <div style="grid-row: span 2" class="expanded-visible"></div>
            <div style="grid-row: span 2" class="expanded-visible">
                <DropdownButton DropDownMenuClass="dropdown-menu-end mb-2" ButtonClass="btn-primary">
                    <ButtonContent>
                        <i class="oi oi-bolt"></i>
                        <span class="ms-2">Actions</span>
                    </ButtonContent>
                    <ChildListItems>
                        <li>
                            <button class="dropdown-item" @onclick="StartChat">
                                <i class="oi oi-chat" title="Chat"></i>
                                <span class="ms-2">Chat</span>
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" @onclick="() => StartRemoteControl(false)">
                                <i class="oi oi-laptop" title="Remote Control"></i>
                                <span class="ms-2">Remote Control</span>
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" @onclick="() => StartRemoteControl(true)">
                                <i class="oi oi-eye" title="View Only"></i>
                                <span class="ms-2">View Only</span>
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" @onclick="() => WakeDevice()">
                                <i class="oi oi-power-standby" title="Wake Device"></i>
                                <span class="ms-2">Wake</span>
                            </button>
                        </li>
                        <li>
                            <FileInputButton ClassNames="dropdown-item btn btn-primary"
                                             OnChanged="OnFileInputChanged">
                                <ButtonContent>
                                    <i class="oi oi-data-transfer-upload" title="Upload File"></i>
                                    <span class="ms-2">Upload File</span>
                                </ButtonContent>
                            </FileInputButton>
                        </li>
                        <li>
                            <button class="dropdown-item bg-danger" @onclick="UninstallAgent">
                                <i class="oi oi-delete" title="Uninstall"></i>
                                <span class="ms-2">Uninstall</span>
                            </button>
                        </li>
                    </ChildListItems>
                </DropdownButton>
            </div>

            <div class="prop-label text-info">
                <label>Platform</label>
            </div>
            <div class="prop-value">
                @Device.Platform
            </div>

            <div class="prop-label text-info">
                <label>Disk</label>
                <button class="view-all-btn expanded-visible"
                        @onclick="ShowAllDisks"
                        @onclick:stopPropagation>
                    (View All)
                </button>
            </div>
            <div class="prop-value">
                @(MathHelper.GetFormattedPercent(Device.UsedStoragePercent))
            </div>

            <div class="prop-label text-info expanded-visible">
                Total Storage
            </div>
            <div class="prop-value expanded-visible">
                @(Device.TotalStorage) GB
            </div>

            <div class="prop-label text-info">
                <label>Memory</label>
            </div>
            <div class="prop-value">
                @(MathHelper.GetFormattedPercent(Device.UsedMemoryPercent))
            </div>

            <div class="prop-label text-info expanded-visible">
                Total Memory
            </div>
            <div class="prop-value expanded-visible">
                @(Device.TotalMemory) GB
            </div>

            @if (IsExpanded)
            {
                <div class="prop-label text-info">
                    <label>CPU</label>
                </div>
                <div class="prop-value">
                    @MathHelper.GetFormattedPercent(Device.CpuUtilization)
                </div>
            }

        </div>
        <div>
            <div class="mt-2" style="grid-column: span 4">
                @if (IsExpanded)
                {
                    <div class="prop-label text-info mt-2">
                        Device ID
                    </div>
                    <div>
                        <input class="detail-input" readonly value="@Device.ID" />
                    </div>

                    <div class="prop-label text-info mt-2">
                        Agent Version
                    </div>
                    <div>
                        <input class="detail-input" readonly value="@Device.AgentVersion" />
                    </div>

                    <div class="prop-label text-info mt-2">
                        Last Online
                    </div>
                    <div>
                        <input class="detail-input" readonly value="@Device.LastOnline" />
                    </div>

                    <div class="prop-label text-info mt-2">
                        Public IP
                    </div>
                    <div>
                        <input class="detail-input" readonly value="@Device.PublicIP" />
                    </div>

                    <div class="prop-label text-info mt-2">
                        MAC Addresses
                    </div>
                    <div>
                        <input class="detail-input"
                               readonly
                               value="@(string.Join(", ", Device.MacAddresses ?? Array.Empty<string>()))" />
                    </div>

                    <EditForm Model="Device" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />

                        <div class="prop-label text-info mt-2">
                            Device Alias
                        </div>
                        <div>
                            <InputText class="detail-input" @bind-Value="@Device.Alias" />
                            <ValidationMessage For="() => Device.Alias" />
                        </div>

                        <div class="prop-label text-info mt-2">
                            Device Group
                        </div>
                        <div>
                            <InputSelect @bind-Value="Device.DeviceGroupID" class="detail-input">
                                <option value="">None</option>

                                @foreach (var group in _deviceGroups)
                                {
                                    <option @key="group.ID" value="@group.ID">@group.Name</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="() => Device.DeviceGroupID" />
                        </div>

                        <div class="prop-label text-info mt-2">
                            Tags
                        </div>
                        <div>
                            <InputText @bind-Value="Device.Tags" class="detail-input" />
                            <ValidationMessage For="() => Device.Tags" />
                        </div>

                        <div class="prop-label text-info mt-2">
                            Notes
                        </div>
                        <div>
                            <InputTextArea @bind-Value="Device.Notes" style="width:100%; height: 10em;"></InputTextArea>
                            <ValidationMessage For="() => Device.Notes" />
                        </div>

                        <div>
                            <ValidationSummary />
                        </div>

                        <div class="text-end mt-2">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </EditForm>

                }
            </div>
        </div>
    </div>
</div>